@* @page "/_/#/auth/confirm-verification/{token}" *@
@page "/confirm-verification/{token}"
@using BlazorPocket.Client.Layout
<PageTitle>Confirm Verification</PageTitle>
<MudPaper Elevation="3" Class="pa-8" Width="100%" MaxWidth="500px">
    <div class="d-flex flex-row  align-center gap-3 my-3">
        <MudBlazorLogo Style="with:60px;height:60px"></MudBlazorLogo>
        <MudText Typo="Typo.h5">Confirm Verification</MudText>
    </div>
    <div class="d-flex flex-column gap-2">
        @if (success)
        {
            <MudAlert Severity="Severity.Success">@message</MudAlert>
            <MudButton Href="/account/signin">Sign In</MudButton>
        }
        else
        {
            <MudAlert Severity="Severity.Error">@message</MudAlert>
        }
    </div>
</MudPaper>
@code {
    [Parameter]
    public string? Token { get; set; }
    private bool success { get; set; }
    private string? message { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Token))
        {
            message = "Invalid or missing token. Please check your verification link.";
        }
        else
        {
            var result=await PocketbaseClient.Auth.User.ConfirmVerificationAsync(Token);
            if (result is not null && (result.Verified??false))
            {
                success = true;
                message = "Your email has been successfully verified. You can now sign in.";
            }
            else
            {
                message = "Verification failed. The token may be invalid or expired.";
            }
        }
    }
}
