@page "/account/forgetpassword"
@using BlazorProcket.Client.Layout
<PageTitle>Login</PageTitle>
<MudPaper Elevation="3" Class="pa-8" Width="100%" MaxWidth="500px">
    <div class="d-flex flex-row  align-center gap-3 my-3">
        <MudBlazorLogo Style="with:60px;height:60px"></MudBlazorLogo>
        <MudText Typo="Typo.h5">Forgot Password?</MudText>
    </div>
    <div class="d-flex flex-column gap-2">

        <div class="d-flex flex-row gap-1">
            <MudText>No worries! Just enter your email address below and we'll send you a link to reset your password.</MudText>
        </div>
        
        <MudForm>
            <MudTextField Class="mb-2" T="string" Label="Email" Placeholder="Email" Required="true" RequiredError="Email is required"></MudTextField>
            <MudButton Href="/account/forgetpasswordconfirm" FullWidth="true" Color="Color.Primary" Variant="Variant.Filled">Send Email</MudButton>
        </MudForm>
    </div>

</MudPaper>
@code {

}
