@page "/account/forgetpasswordsuccessful"
<PageTitle>Check Your Inbox</PageTitle>
<MudPaper Elevation="3" Class="pa-8" Width="100%" MaxWidth="500px">
    <div class="d-flex flex-row  align-center gap-3 my-3">
        <MudBlazorLogo Style="with:60px;height:60px"></MudBlazorLogo>
        <MudText Typo="Typo.h5">Check Your Inbox</MudText>
    </div>
    <div class="d-flex flex-column gap-2">

        <div class="d-flex flex-row gap-1">
            <MudText>
                We've sent an email to the address you provided.
                Please check your inbox for a link to reset your password.
                If you don't see the email, be sure to check your spam or junk folder.
            </MudText>
        </div>
        
       
    </div>

</MudPaper>
@code {
    
}
