@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<MudButton Variant="Variant.Filled">Default</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Info">Info</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Error">Error</MudButton>
<MudButton Variant="Variant.Filled" Disabled="true">Disabled</MudButton>