@page "/"

<PageTitle>Home</PageTitle>

<h1>@L["Hello, world!"]</h1>

@L["Welcome to your new app."]

<div class="d-flex flex-column gap-3">
    <MudText Typo="Typo.h3" Align="Align.Center" Class="mt-16 mb-8">“Never had such a good time making a site“</MudText>
    <div  >
        <Carousel />
    </div>
    <div>
        <CarouselReverse />
    </div>
     
    <div class="lp-fader"></div>
</div>