@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@layout MainLayout
<MudLayout>

            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex align-center" Style="height: 100vh;">
                    <div class="d-flex flex-column mud-width-full">
                        @Body
                    </div>
            </MudContainer>
      
</MudLayout>

@code {

}
